body{
 background-color: rgba(202, 177, 177, 0.493)
}
.buton1{

    background-color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    padding: 10px 20px;
    text-decoration: none;
    border: 50x solid red;
    transition: all .5s ease;
    line-height: 20px;
    
}
.buton2{
    background-color:rgb(192, 118, 58);
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    padding: 10px 20px;
    text-decoration: none;
    border: 50x solid red;
    transition: all .5s ease;
    line-height: 20px;
    
}
.buton3{
    background-color:rgb(93, 114, 35);
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    padding: 10px 20px;
    text-decoration: none;
    border: 50x solid red;
    transition: all .5s ease;
    line-height: 20px;
    
}
.buton4{
    background-color:rgb(24, 100, 96);
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    padding: 10px 2s0px;
    text-decoration: none;
    border: 50x solid red;
    transition: all .5s ease;
    line-height: 20px;
    
}
.buton5{
    background-color:rgb(21, 13, 51);
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    padding: 10px 20px;
    text-decoration: none;
    border: 50x solid red;
    transition: all .5s ease;
    line-height: 20px;
    
}
.buton6{
    background-color:rgb(60, 9, 75);
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    padding: 10px 20px;
    text-decoration: none;
    border: 50x solid red;
    transition: all .5s ease;
    line-height: 10px;

}
    .buton7{
    background-color:rgb(165, 5, 72);
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    padding: 10px 20px;
    text-decoration: none;
    border: 50x solid rgb(12, 12, 12);
    transition: all .5s ease;
    line-height: 20px;
    }
    .buton8{
    background-color: rgb(116, 6, 48);
    font-size: 20px;
    font-weight: bold;
    color: saddlebrown;
    padding: 10px 20px;
    text-decoration: none;
    border: 50x solid rgb(5, 1, 1);
    transition: all .5s ease;
    line-height: 20px;
    }
    .buton9
    {
        background-color: rgba(255, 0, 43, 0.705);
        font-size: 20px;
        font-weight: bold;
        color: saddlebrown;
        padding: 10px 2s0px;
        text-decoration: none;
        border: 50x solid rgb(15, 8, 8);
        transition: all .5s ease;
        line-height: 20px;
    }

    .anayemek{
    background-color: rgb(235, 235, 221);
    font-size: 20px;
    font-weight: bold;
    color: rgb(139, 19, 25);
    padding: 0px 0px;
    text-decoration: none;
    border: 100x solid red;
    transition: all .5s ease;
    line-height: 50px;
}
.kabaklıtazefasulye{
    
  border-width: 20px 25px 20px 25px;
  padding: 10px 20px;
  border-style: solid;
  border-color:rgb(192, 118, 58) ;

}
.fırındapatlıcan{
border-width: 20px 25px 20px 25px;
  padding: 10px 20px;
  border-style: solid;
  border-color:rgb(93, 114, 35);
}
.parmesan{
border-width: 20px 25px 20px 25px;
  padding: 10px 20px;
  border-style: solid;
  border-color:rgb(24, 100, 96) ;
}
.ıspanak{

 border-width: 20px 25px 20px 25px;
  padding: 10px 20px;
  border-style: solid;
  border-color:rgb(60, 9, 75) ;

}
.MısırlıPilav{
    border-width: 20px 25px 20px 25px;
  padding: 10px 20px;
  border-style: solid;
  border-color:rgb(116, 6, 48) ;
}

